<h1>Listing boxes</h1>

<table>
  <tr>
    <th>Material</th>
    <th>Color</th>
    <th>Belongs To</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.material %></td>
    <td><%= box.color %></td>
    <td><%= box.widget ? box.widget.name : "None" %></td>
    <td><%= box.description %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
