<p id="notice"><%= notice %></p>

<b>Material:</b>
<p><%= @box.material %></p>

<b>Color:</b>
<p><%= @box.color %></p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
