<h1>Listing widgets</h1>

<%= form_tag(filter_widgets_path, method: :get) do %>
  <div class="field">
    <%= label_tag(:q, "Filter on Size:") %>
    <%= number_field_tag(:q, :in => 1..100, :step => 1) %>
    <%= submit_tag("Filter") %>
  </div>
<% end%>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created</th>
    <th>Color</th>
    <th>Size</th>
    <th>Box</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @widgets.each do |widget| %>
  <tr class="<%= cycle("shaded", "even") -%>">
    <td><%= widget.name %></td>
    <td><%= widget.description %></td>
    <td><%= short_date(widget.created_at) %></td>  <%# "#{time_ago_in_words(widget.created_at)}" %>
    <td><%= widget.color %></td>
    <td><%= widget.size %></td>
    <td><%= widget.box ? widget.box.material : "None" %></td>
    <td><%= link_to 'Show', widget %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Widget', new_widget_path %>
